:root {
    --duration: 400ms;
}

/* Landing Link */
#landing-link {
    transform: translateY(-100%);
    opacity: 0;
    animation: initializeLink 1000ms ease-out 1000ms forwards;
}

/* Animated Box transitions between routes */
#animated-box-1,
#animated-box-2 {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all var(--duration), border-radius 0ms;
    background-repeat: no-repeat;
    background-size: contain;
}

#animated-box-wrapper {
    position: absolute;
    top: calc(36% - 50px);
    left: calc(50% - 50px);
    transition: all var(--duration);
}

/* Logo */
.logo#animated-box-wrapper {
    width: 100px;
    height: 100px;
    animation: initializeLogo var(--duration) forwards ease-out 100ms;
}

.logo #animated-box-1 {
    background-image: url("/assets/redberry-logo.svg");
}

/* Rectangle */
.rectangle#animated-box-wrapper {
    width: 32.4vw;
    height: 6.9vh;
    left: 50.9vw;
    top: 30vh;
}

.rectangle #animated-box-1 {
    background-image: url("/assets/redberry-logo.svg");
    opacity: 0;
}

.rectangle #animated-box-2 {
    background-color: #D6D16E;
}

/* Circle */
.circle#animated-box-wrapper {
    width: 11.9vw;
    height: 21.2vh;
    left: 45.8vw;
    top: 35.2vh;
}

.circle #animated-box-1 {
    background-color: transparent;
    opacity: 0;
}

.circle #animated-box-2 {
    background-color: #DD3939;
    border-radius: 50%;
}

/* Star */
.star#animated-box-wrapper {
    width: 15vw;
    height: 28.9vh;
    left: 50.6vw;
    top: 16.7vh;
}

.star #animated-box-1 {
    background-image: url("/assets/star.svg");
}

.star #animated-box-2 {
    border-radius: 50%;
    opacity: 0;
}

/* Heart */
.heart#animated-box-wrapper {
    width: 10.2vw;
    height: 15.9vh;
    left: 54.5vw;
    top: 26vh;
}

.heart #animated-box-1 {
    background-image: url("/assets/star.svg");
    opacity: 0;
}

.heart #animated-box-2 {
    background-image: url("/assets/heart.svg");
    opacity: 1;
}

/* Keyframes */

@keyframes initializeLink {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes initializeLogo {
    0% {
        transform: scale(30, 30);
    }
    100% {
        transform: scale(1, 1);
    }
}
