@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    [type='text']:focus,
    [type='email']:focus,
    [type='date']:focus,
    textarea:focus {
        --tw-ring-color: #F15524;
        border-color: var(--tw-ring-color);
    }

    [type="radio"]:focus, [type="radio"]:checked:focus {
        --tw-ring-color: #F15524;
        background-color: #F15524;
    }
}

@font-face {
    font-family: 'TBC Contractica CAPS';
    font-weight: 700;
    src: url("/fonts/TBCContracticaCAPS-Bold.ttf");
}

@font-face {
    font-family: 'BPG Arial';
    src: url("/fonts/bpg_arial_2009.ttf");
}

@font-face {
    font-family: 'Anonymous Pro';
    font-weight: 700;
    src: url("/fonts/AnonymousPro-Bold.ttf");
}

.hover\:text-shadow:hover {
    text-shadow: 2px 1px #EAEAEA, 3px 2px #232323;
}
